:root {
  font-family:'Open Sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #0d0d11;
  color: #fff;
  margin: 0;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}
