:root {
  font-family: 'Open Sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #050506;
  color: #fff;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.page {
  flex: 1;
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

footer {
  margin-top: auto;
}