/*Imports*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/*Variables*/

:root {
  --tiny-hightlight: #e4e6ff0c;
  --main-text-color: #e1e0ff54;
  --hover-text-color: #acacb8;
}

/*Navbar*/

.navbar {
  height: 64px;
  background: #000000cc;
  border-bottom: 1px solid #e4e6ff13;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.navbar-name {
  font-family: "Cinzel", system-ui, sans-serif;
  font-size: 1.8em;
  padding: 8px;
}

.navbar img {
  height: 48px;
}

/*Filter bar*/

.filter-bar {
  background-color: var(--tiny-hightlight);
  border-radius: 1rem;
  border: 1px solid var(--tiny-hightlight);
  width: max-content;
  margin-top: 32px;
  padding: 5px;
}

.filter-tabs{
  display: flex;
  align-items: center;
}

.filter-tabs button {
  background-color: #00000000;
  border-radius: 1rem;
  color: var(--main-text-color);
  border: none;
  padding: 8px;
  text-transform: uppercase;
  font-family:'Open Sans', sans-serif;
  font-size: 0.7em;
  font-weight: bold;

  transition: ease-in-out 0.2s;
}

.filter-tabs button:hover {
  color: var(--hover-text-color);
  cursor: pointer;
}

.filter-tabs button:focus {
  background-color: var(--tiny-hightlight);
  color: #fff;
}

/*Badge Grid*/

.badge-grid {
  display: grid;
  margin-top: 32px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 32px;
  width: 100%;
}

/*Badge Cards*/

.badge-card {
  background: linear-gradient(155deg, #0f1016, #050506);
  border-radius: 1rem;
  padding: 32px;
  border: 1px solid #161616;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 220px;
  height: 260px;

  position: relative;
  overflow: hidden;

  transition: 
    transform 0.2s ease,
    box-shadow 0.2s ease,
    border-color 0.2s ease;
}

.badge-card:hover {
  transform: translateY(-4px);
  border-color: #d8e9ff66;
  box-shadow: 0 10px 30px #c5d9ff26;
  cursor: pointer;
}

.badge-card::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -150%;
  width: 60%;
  height: 200%;

  background: linear-gradient(
    120deg, transparent, #ffffff0a, transparent
  );

  transform: skewX(-20deg);

  filter: blur(48px);
  
  transition: left 1s ease;
}

.badge-card:hover::after {
  left: 150%;
}

.badge-card:hover .badge-icon{
  transform: rotate(720deg);
}

.badge-card:hover .badge-description {
  color: #fff;
}

.badge-icon {
  font-size: 32px;
  margin-bottom: 16px;

  transition: transform 0.5s ease;
}

.badge-rarity {
  display: flex;
  align-items: center;
}

.badge-rarity-tag {
  font-size: 12px;
  background-color: #000000;
  border-radius: 1rem;
  border: 1px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 0.5em;
  color: #7b7881;
  padding: 4px 8px;
  width: max-content;
  font-weight: bold;
  font-family:'Montserrat', sans-serif;
}

.badge-title {
  margin-top: 4px;
}

.badge-description {
  font-size: 14px;
  color: var(--main-text-color);
  text-align: center;
  
  transition: ease-in-out 0.2s;
}

.badge-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  color: var(--main-text-color);
  padding-top: 32px;
  border-top: 1px solid #e4e6ff13;
  margin: auto;
}

.badge-category {
  text-transform: uppercase;
}

/*Footer*/

.footer {
  background: #000000cc;
  border-top: 1px solid #e4e6ff13;
  padding: 24px;
  margin-top: 32px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
}

.footer-left {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--main-text-color);
}

.footer-divider {
  color: var(--main-text-color);
}

.footer-right {
  display: flex;
  gap: 16px;
}

.footer a {
  color: var(--main-text-color);
  text-decoration: none;
  
  transition: 0.2s ease-in-out;
}

.footer a:hover {
  color: #fff;
}